<form action="">
	<fieldset>
		<label for="base">
			Enter your base color:
			<input type="text" placeholder="Enter any color" id="base" />
		</label>
		<label for="diff">
			Enter the amount (percentage) to adjust the base color:
			<input type="number" id="diff" placeholder="Enter the amount to change the color" />
		</label>
		<label for="lighten" class="i">
			<input type="radio" value="0" name="type" id="lighten" /> Lighten
		</label>
		<label for="darken" class="i">
			<input type="radio" value="1" name="type" id="darken" /> Darken
		</label>
	</fieldset>
</form>